<div class="timeline">
  <h2 class="timeline-title">Activities</h2>
  <div class="timeline-item-container">
    <div class="timeline-item" *ngFor="let item of timelineItems">
      <div class="timeline-circle" [ngStyle]="{'border': '5px solid ' + item.color}"></div>
      <div class="timeline-content">
        <p class="timeline-content-container">{{item.title}}</p>
        <p *ngIf="item.date != today" class="timeline-content-container">{{item.date}}</p>
        <p *ngIf="item.date == today" class="timeline-content-container">Today</p>
        <p class="timeline-content-container">{{item.time}}</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-circle" [ngStyle]="{'border': '5px solid ' + newTimeLine.color}"></div>
        <div class="timeline-content">
        <form [formGroup]="timelineForm">
        <div class="timeline-input-container"><input type="text" formControlName="title" placeholder="New activity"
             /></div>
        <div class="timeline-input-container"><input type="text" formControlName="date"   /></div>
        <div class="timeline-input-container"><input type="text" formControlName="time"  /></div>
        <button (click)="addNewTimeline()"  class="add-new-timeline-btn" [disabled]="!newTimeLine.title">add</button>
      </form>
    </div>
    
    </div>
  </div>
</div>