<div class="timeline">
  <h2 class="text-muted">Activities</h2>
  <div class="timeline-item-container">
    <div class="timeline-item" *ngFor="let item of timelineItems">
      <div class="timeline-circle" [ngStyle]="{'border': '5px solid ' + item.color}"></div>
      <div class="timeline-content col-sm-10 d-flex flex-row">
        <p class="col-sm-3 text-center">{{item.title}}</p>
        <p *ngIf="item.date != today" class="col-sm-3 text-center">{{item.date}}</p>
        <p *ngIf="item.date == today" class="col-sm-3 text-center">Today</p>
        <p class="col-sm-3 text-center">{{item.time}}</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-circle" [ngStyle]="{'border': '5px solid ' + newTimeLine.color}"></div>
      <div class="timeline-content col-sm-10 d-flex flex-row">
        <div class="col-sm-3"><input type="text" [(ngModel)]="newTimeLine.title" placeholder="New activity"
            class="form-control" /></div>
        <div class="col-sm-3"><input type="text" [(ngModel)]="newTimeLine.date" class=" form-control" /></div>
        <div class="col-sm-3"><input type="text" [(ngModel)]="newTimeLine.time" class=" form-control" /></div>
        <button class="btn btn-success col-sm-2" (click)="addNewTimeline()" [disabled]="!newTimeLine.title">add</button>
      </div>
    </div>
  </div>
</div>