<div class="workSpaceContainer">
    <div class="workSpaceTitle">choose your workspace</div>
    <div class="workSpacesList">
        <div *ngFor="let item of workSpacesList" (click)="selectWorkspace(item.id)"
            [ngClass]="{'selectedItem':item.id==selectedId}"
            class=" workSpaceItem">
            <div class="inputContainer">
                <div *ngIf="inputEditId != item.id">{{item.title}}</div>
                <input *ngIf="inputEditId == item.id" class="editBox" (click)="$event.stopPropagation()"
                    [(ngModel)]="inputEditText" type="text">
            </div>
            <div class="iconContainer">
                <i *ngIf="inputEditId != item.id" class="fa fa-edit " aria-hidden="true"
                    (click)="showInput(item.id,$event)"></i>
                <i *ngIf="inputEditId != item.id" class="fa fa-trash " (click)="deleteWorkspace(item.id,$event)"
                    aria-hidden="true"></i>
                <i *ngIf="inputEditId == item.id" class="fa fa-check success" aria-hidden="true"
                    (click)="submitEdit(item.id,$event)"></i>
                <i *ngIf="inputEditId == item.id" class="fa fa-times danger" (click)="cancelEdit($event)"
                    aria-hidden="true"></i>
            </div>

        </div>
    </div>
    <div class="submit-container">
        <input class="editBox" [(ngModel)]="newWorkSpace" placeholder="create new workspace" type="text">
        <button class="add-workspace-btn" (click)="addNewWorkspace()">create</button>
    </div>

</div>